
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #515076;
}

.products {
  max-width: 1110px;
  margin: 5% auto;
  background-image: url('image/bg.png');
  background-repeat: no-repeat;
  background-position: -32px 5%;
}
.products__title {
  padding: 220px 132px 110px;
  margin: 0;
  font-weight: normal;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}



.card {
  display: block;
  background-color: #F7F7FA;
  width: 290px;
  padding: 25px;
}
.card__desc {
  display: block;
  margin-top: 30px;
  color: #A5A3B9;
  font-size: 12px;
}
.card__name {
  margin: 5px 0;
}
.card__purpose {
  margin-bottom: 15px;
}
.card__compound {
  margin: 5px auto 25px 15px;
  padding: 0;
}
.card__component {
  margin-bottom: 5px;
}



.price {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}