
body {
  font-family: 'Arial';
  font-size: 13px;
  color: #515076
}
.title {
  margin-top: 220px;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
}
.product-name {
  margin: 5px 0;
}
.price {
  font-size: 20px;
}
.desc {
  display: inline-block;
  margin-top: 30px;
  color: #A5A3B9;
  font-size: 12px;
}
.product-card {
  background-color: #F7F7FA;
  display: inline-block;
  width: 290px;
  height: 510px;
  padding: 25px;
}
.component {
  margin-bottom: 5px;
}
.compound {
  margin: 5px auto 25px 15px;
  padding: 0;
}
.purpose {
  margin-bottom: 15px;
}
.value {
  font-size: 20px;
  padding-left: 160px;
}